<:Title>
  Exchange

<:Body>
  <div class="row">
    <div class="col-md-4">

      <h1>Exchange</h1>

      <table class="todo-table">
        {{_drinks.each_with_index do |drink, index| }}
        <!-- Use params to store the current index -->
        <tr>
          <td>{{ drink._name  }} </td>
          <td>{{ drink._price }} </td>
          <td><button e-click="purchase(drink)">Buy</button></td>
        </tr>
        {{ end }}
      </table>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">

      <h1>Purchases</h1>

      <table class="todo-table">
        {{page._purchases.each_with_index do |purchase, index| }}
        <!-- Use params to store the current index -->
        <tr>
          <td>{{ purchase._time  }} </td>
          <td>{{ purchase._name  }} </td>
          <td>{{ purchase._price }} </td>
        </tr>
        {{ end }}
      </table>
    </div>

  </div>

