<:Title>
  Home

<:Body>
  <p>
    What if drinks traded like stocks or commodities? In other words, what if their prices fluctuated depending on outlook, desirability, supply and demand?
  </p>
  <p>
    After all, a fixed price menu is price fixing, and that is Un-Australian! Now, one eatery is having fun with real-time pricing.
  </p>

  <br />
  <br />
  <br />

  <center>
    <h5>You're at the bar. You have you Phone or an iPad.</h5>
    <a class="btn btn-primary" href="/exchange">Buy a Drink</a>
  <center/>
